

/* nav bar disine */
.mobail-nevbar{
    display: none;
}
header{
    max-width: 1440px;
    margin: 0 auto;
    
}
.nav-title{
    color: rgba(58, 58, 58, 1);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;    
}
.nav-bar{
    display: flex;
    justify-content: space-between;
}
.nav-link ul{
    display: flex;
    gap: 34px;
}
.nav-link li {
    list-style: none;
    
}
.nav-link a{
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
    font-family: Poppins;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: left;    
}
.nav-link a:hover{
    text-decoration: underline;
}
.header-title-main{
    display: flex;
    gap: 250px;
    margin-top: 150px;
}
.header-title{
    width: 40%;
}
.header-image{
    
    background-image: url('Circle\ design.svg');
}
.header-title1{
    color: rgba(58, 58, 58, 1);
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: left; 
    margin-bottom: 16px; 
}
.header-dix{
    color: rgba(58, 58, 58, 1);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-align: left; 
    word-spacing: 5px;   
    margin-bottom: 16px;
}
.header-batton{
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
    background: rgba(224, 44, 109, 1);
}

/* main section :start  */
main{
    max-width: 1440px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
}
  /* brand icon style  */
  .main-brend{
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.386);
    border-bottom: 1px solid rgba(0, 0, 0, 0.386);
    padding: 33px;
  }

  /* main card  */
  .main-ard{
    margin-top: 100px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 150px;
  }
  .card-header{
    text-align: center;
  }
  .card{
    border-radius: 5px;
    box-shadow: 3px 2px 40px 10px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 1);
    width: 300px;
    padding: 15px;
  }
  .card-title1{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;   
    margin-top: 15px; 
  }
  .card-title2{
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: left;
   
  }
  .card-dex{
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    margin-top: -25px;
  }
  .card-img{
    /* unsplash:4M4qd2Qq8Ww */
    width: 300px;
    height: 256px;
  }
  .semore{
    display: flex;
    justify-content: end;
  }

  /* main prodact  */
  .main-prodact{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
  }
  .prodact-img{
    /* unsplash:J8Cfm4W8gd8 */
    width: 404px;
    height: 270px;    
  }
  .prodact-title{
    color: rgba(10, 8, 38, 1);
    font-family: Poppins;
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;    
  }
  .prodact-dex{
    color: rgba(108, 108, 108, 1);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;    
  }
/* main section end  */

footer{
     max-width: 1440px;
     margin: 0 auto;
}
.main-footer{
    background: rgba(10, 8, 38, 1);
    text-align: center;
    height: 200px;
    padding-top: 50px;
}
.footr-title{
    color: rgba(255, 255, 255, 1);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}
.footer-dex1{
    color: rgba(255, 255, 255, 1);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
}
.footer-dix2{
    color: rgba(255, 255, 255, 1);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    margin-top: 3px;
}
.image{
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 2rem;
}
/* mobail iscrin rensponciv */
@media screen and (max-width:576px){
    /* header section  */
    .nav-bar{
        display: none;
    }
    .mobail-nevbar{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;

    }
    .header-title-main{
        flex-direction: column-reverse;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .header-title{
        width: 100%;
        text-align: center;
        margin-top: -220px;
    }
    .header-image-main{
        text-align: center;
    }
    .header-title1, .header-dix{
        text-align: center;
    }
    /* header section and  */
    /* main section  */
    main{
        background: rgba(255, 255, 255, 1);
    }
    .main-brend{
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
        margin-bottom: 41px;
    }
    /* main card  */
    .main-ard{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-bottom: 50px;
    }
    /* prodact section  */
     .main-prodact{
        flex-direction: column-reverse;
        gap: 40px;
        margin-bottom: 50px;
       justify-content: center;
       align-items: center;
     }
     .prodact, .prodact-title, .prodact-dex{
        text-align: center;
     }
}

